h1,h2{
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    text-align: center;

}
.container {
    background-color: lightgray;
}


.red-circle {
    background: #E6563B;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    border: 8px solid white;
    margin: 20px;
    color: white;
    align-items: center;
    justify-content: center;

}.orange-circle {
     background: #EB9D3A;
     width: 105px;
     height: 105px;
     border-radius: 50%;
     font-weight: bold;
     display: flex;
     border: 8px solid white;
     margin: 20px;
     color: white;
     align-items: center;
     justify-content: center;
 }

.green-circle {
      background: #7CB06C;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    border: 8px solid white;
    margin: 20px;
    color: white;
    align-items: center;
    justify-content: center;
  }

.blue-circle {
    background: #00ABA9;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    border: 8px solid white;
    margin: 20px;
    color: white;
    align-items: center;
    justify-content: center;
}

body {
    background-color: lightgrey;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    text-align: center;
}
