h1,h2{
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    text-align: center;

}
h4 {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
}
.container {
    background-color: lightgray;
}

.navbar-logo {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}
.navbar-brand {
    font-family: 'Indie Flower', cursive;
}

.red-circle {
    background: #9B1003;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    border: 8px solid black;
    margin: 20px;
    color: white;
    align-items: center;
    justify-content: center;

}.orange-circle {
     background: #ED7117;
     width: 105px;
     height: 105px;
     border-radius: 50%;
     font-weight: bold;
     display: flex;
     border: 8px solid black;
     margin: 20px;
     color: white;
     align-items: center;
     justify-content: center;
 }

.green-circle {
      background: #005C29;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    border: 8px solid black;
    margin: 20px;
    color: white;
    align-items: center;
    justify-content: center;
  }

.blue-circle {
    background: #1034A6;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    border: 8px solid black;
    margin: 20px;
    color: white;
    align-items: center;
    justify-content: center;
}

body {
    background-color: lightgrey;
    font-family: 'Indie Flower', cursive;;
    font-weight: bold;
    text-align: center;
}
.selected-work-images {
    /*box-shadow: none;*/
    border: 5px solid #b4b4b4;


}

.red-circle1 {
    background: #9B1003;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
}

.orange-circle1 {
     background: #ED7117;
     width: 18px;
     height: 18px;
     border-radius: 50%;
     font-weight: bold;
     display: flex;
     color: black;
     align-items: center;
     justify-content: center;
 }

.green-circle1 {
    background: #005C29;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
}

.blue-circle1 {
    background: #1034A6;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
}

.nav-link {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;

}


